body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f3e6;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: url('/assent/img/fondo-coraaaa.png'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
    background-position: center; /* Centra la imagen */
   
    background-repeat: no-repeat;
}
@media (max-width: 1880px) {
    body {
      background-image: url('../img/洧돋洧뉧롓뢣롓뢣롓뫯롓뉧롓뫯롓뒳롓뮾 en\ 2022\ _\ Fondos\ de\ pantalla\ de\ iphone\,\ Ideas\ de\ fondos\ de\ pantalla\,\ Fondos\ de\ colores.jfif'); /* Ruta de la imagen de fondo para m칩viles */
       background-size: contain; /* Ajusta el tama침o de la imagen para m칩viles */
       background-position: top center; /* Ajusta la posici칩n de la imagen */
       background-repeat: repeat; /* Repite la imagen verticalmente */
     
    }
  }

header {
    background-color: #633c8f;
    text-align: center;
    padding: 1em;
}
.titulo {
    margin: 0;
    color: #fff; /* Blanco */
    font-family: 'Poppins', sans-serif; /* Fuente atractiva */
    font-size: 3em; /* Tama침o del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra al texto */
    letter-spacing: 2px; /* Espaciado entre letras */
    text-align: center; /* Centrar el texto */
    background: linear-gradient(90deg, #fffafc, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.titulo2 {
    margin: 0;
    color: #e9e9e9; /* Blanco */
    font-family: 'Poppins', sans-serif; /* Fuente atractiva */
    font-size: 2rem; /* Tama침o del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra al texto */
    letter-spacing: 2px; /* Espaciado entre letras */
    text-align: center; /* Centrar el texto */
    background: linear-gradient(90deg, #633c8f, #633c8f);
    border-radius: 20px
   
}


.date {
    font-family: 'Cursive', sans-serif;
    color: #ff69b4;
    font-size: 1.2em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em;
}

.card {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.letter-container {
    text-align: center;
    margin: 2em;
}


.letter-container h2 {
    color: #f1f1f1;
    
    background-color: aliceblue;
    border-radius: 40px;
    margin-left:5rem;
    margin-right: 5rem;
}

.letter-content {
    width: 80%;
    margin: 0 auto;
    background: #fff;
    border: 2px solid #4c8ba3;
    border-radius: 10px;
    padding: 20px;
    font-size: 1em;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.letter-content p {
    margin: 10px 0;
}
.letra{
    font-family: 'Amifer', sas-serif;
}